.topMenu {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
}
.roomViewStyle {
  display: flex;
  justify-content: center;
}
.roomSuccessStyle {
  display: flex;
  background: green;
  justify-content: center;
  height: 25px;
  color: white;
  font-family: cursive;
}
