.topMenu {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
}
.roomViewStyle {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-left: 100px;
  background: lightblue;
}
.roomSuccessStyle {
  display: flex;
  background: green;
  justify-content: center;
  height: 25px;
  color: white;
  font-family: cursive;
}

.cardContainer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  scroll-behavior: auto;
  overflow: auto;
  height: 400px;
  gap: 25px;
}
.cardData {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.cardActionStyle {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 25px;
}
.searchBarStyle {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
.noPlayerStyle {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.fixedPopUpStyleHide {
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.fixedPopUpStyleShow {
  display: flex;
  justify-content: center;
  visibility: visible;
}
