.popContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: lightseagreen;
  padding: 20px;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin-top: 30px;
  border-radius: 10px;
}

.headerstyle {
  margin-bottom: 10px;
}
